<header class="app-navbar">
  <div class="page-container app-navbar__inner">
    <div class="app-navbar__left">
      <a routerLink="/" class="app-navbar__brand">
        <span class="brand-box">J</span> <!--Aquí iría el logo-->
        <span class="brand-text">Júpiter</span>
      </a>

      <nav class="app-navbar__nav">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
        <a routerLink="/catalog" routerLinkActive="active">Catálogo</a>

        @if (isLoggedIn) {
          <a routerLink="/library" routerLinkActive="active">Mi Biblioteca</a>
          <a routerLink="/orders/history" routerLinkActive="active">Mis Pedidos</a>
          <a routerLink="/incidences" routerLinkActive="active">Soporte</a>
          <a routerLink="/cart" routerLinkActive="active">Carrito</a>
          <a routerLink="/profile" routerLinkActive="active">Mi Perfil</a>
        }

        @if (isAdmin) {
          <a routerLink="/admin" routerLinkActive="active">Admin</a>
        }

        @if (isSupport) {
          <a routerLink="/support/incidences" routerLinkActive="active">Incidencias</a>
        }

      </nav>
    </div>

    <div class="app-navbar__right">
      @if (!isLoggedIn) {
        <a routerLink="/auth/login" class="nav-btn nav-btn--ghost">Iniciar sesión</a>
        <a routerLink="/auth/register" class="nav-btn nav-btn--primary">Registrarse</a>
      } @else {
        <span class="user-chip">Hola, {{ user?.name }}</span>
        <button class="nav-btn nav-btn--danger" (click)="logout()">Cerrar sesión</button>
      }
    </div>
  </div>
</header>
